<footer class="text-center mar-tb-6">
    © <%- (new Date()).getFullYear() %> <%- siteConfig.owner.name %>, unless otherwise stated.
</footer>

<script>hljs.highlightAll();</script>

<script>
    mermaid.initialize(config = {
        startOnLoad:true,
        theme: 'neutral',
        flowchart:{
            useMaxWidth:false,
            htmlLabels:true
        }
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>

</body>

</html>
