<footer class="text-center mar-tb-6">
    © <%- (new Date()).getFullYear() %> <%- siteConfig.owner.name %>, unless otherwise stated.
</footer>

<script>hljs.highlightAll();</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.5.0/mermaid.min.js" defer onload="initMermaid()"></script>
<script>
    function initMermaid() {
        mermaid.initialize({
            startOnLoad: false,
            theme: 'neutral'
        });
        mermaid.init(undefined, document.querySelectorAll('.mermaid'));
    }
</script>

</body>

</html>
