<%- include('_includes/header', { siteConfig }); -%>

<header class="intro mar-tb-7">
    <h1 class="intro__head">404 - Not Found</h1>
</header>

The page you requested was not found. It might have been moved, had it's name changed or is temporarily unavailable.

<%- include('_includes/footer', { siteConfig }) %>
